## Part 1: Explore the Data

Import the data and use Pandas to learn more about the dataset.

In [2]:
import pandas as pd

df = pd.read_csv('Resources/client_dataset.csv')
df.head()

,first,last,job,phone,email,client_id,order_id,order_date,order_week,order_year,item_id,category,subcategory,unit_price,unit_cost,unit_weight,qty,line_number
0,Donald,Harding,Immunologist,793-904-7725x39308,harding.donald.7185@sullivan.com,58515,8953482,2023-04-28,17,2023,EUD29711-63-6U,decor,wall art,1096.80,762.71,7.50,105,1
1,Tiffany,Myers,Music therapist,201.442.4543x942,myers.t.6537@ferguson-johnson.net,37609,8069089,2023-05-19,20,2023,XDA18116-89-4A,consumables,pens,24.95,15.09,1.49,21,0
2,Shannon,Watson,Immunologist,687.737.9424x8503,swatson8146@payne.net,57113,1902144,2023-01-29,4,2023,ABE59463-05-7E,software,project management,13.52,7.86,1.68,39,6
3,Nathan,Baker,Accounting technician,827-788-8123x012,bakernathan@benson.com,46554,9031802,2023-04-25,17,2023,ZMM00836-65-0C,consumables,pens,36.42,24.85,1.23,29,3
4,Christina,Schwartz,Chiropractor,265-829-3643,christinaschwartz9252@mcconnell.com,92089,1322274,2023-05-28,21,2023,BZX55559-12-3X,consumables,misc,195.10,108.17,46.43,20,1

In [3]:
# View the column names in the data
df.columns

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number'],
      dtype='object')

In [6]:
# Use the describe function to gather some basic statistics
stats_all = df.describe (include = 'all')
print (stats_all)

              first     last        job       phone                     email  \
count         54639    54639      54639       54639                     54639
unique          360      477        498         999                       999
top     Christopher  Johnson  Osteopath  5016915923  jessica.reyes@grimes.net
freq           1090     1164        631         220                       220
mean            NaN      NaN        NaN         NaN                       NaN
std             NaN      NaN        NaN         NaN                       NaN
min             NaN      NaN        NaN         NaN                       NaN
25%             NaN      NaN        NaN         NaN                       NaN
50%             NaN      NaN        NaN         NaN                       NaN
75%             NaN      NaN        NaN         NaN                       NaN
max             NaN      NaN        NaN         NaN                       NaN

           client_id      order_id  order_date    order_week    order_year  \
count   54639.000000  5.463900e+04       54639  54639.000000  54639.000000
unique           NaN           NaN         150           NaN           NaN
top              NaN           NaN  2023-04-19           NaN           NaN
freq             NaN           NaN         538           NaN           NaN
mean    54837.869416  5.470190e+06         NaN     11.359139   2022.993064
std     25487.438231  2.599807e+06         NaN      7.023499      0.082997
min     10033.000000  1.000886e+06         NaN      1.000000   2022.000000
25%     33593.000000  3.196372e+06         NaN      6.000000   2023.000000
50%     53305.000000  5.496966e+06         NaN     11.000000   2023.000000
75%     78498.000000  7.733869e+06         NaN     17.000000   2023.000000
max     99984.000000  9.998480e+06         NaN     52.000000   2023.000000

               item_id     category        subcategory    unit_price  \
count            54639        54639              54639  54639.000000
unique             500            5                 18           NaN
top     MAZ00314-80-8M  consumables  bathroom supplies           NaN
freq               148        23538               6424           NaN
mean               NaN          NaN                NaN    136.267207
std                NaN          NaN                NaN    183.873135
min                NaN          NaN                NaN      0.010000
25%                NaN          NaN                NaN     20.800000
50%                NaN          NaN                NaN     68.310000
75%                NaN          NaN                NaN    173.160000
max                NaN          NaN                NaN   1396.230000

           unit_cost   unit_weight           qty   line_number
count   54639.000000  54639.000000  5.463900e+04  54639.000000
unique           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN
mean       99.446073      5.004116  5.702646e+02      2.979667
std       133.164267      5.326599  1.879552e+04      2.436320
min         0.010000      0.000000  0.000000e+00      0.000000
25%        14.840000      1.450000  3.200000e+01      1.000000
50%        49.890000      3.240000  6.800000e+01      3.000000
75%       125.570000      6.890000  1.700000e+02      5.000000
max       846.270000     46.430000  3.958244e+06      9.000000

In [4]:
# Use this space to do any additional research
# and familiarize yourself with the data.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54639 entries, 0 to 54638
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first        54639 non-null  object
 1   last         54639 non-null  object
 2   job          54639 non-null  object
 3   phone        54639 non-null  object
 4   email        54639 non-null  object
 5   client_id    54639 non-null  int64
 6   order_id     54639 non-null  int64
 7   order_date   54639 non-null  object
 8   order_week   54639 non-null  int64
 9   order_year   54639 non-null  int64
 10  item_id      54639 non-null  object
 11  category     54639 non-null  object
 12  subcategory  54639 non-null  object
 13  unit_price   54639 non-null  float64
 14  unit_cost    54639 non-null  float64
 15  unit_weight  54639 non-null  float64
 16  qty          54639 non-null  int64
 17  line_number  54639 non-null  int64
dtypes: float64(3), int64(6), object(9)
memory usage: 7.5+ MB

In [7]:
# Additional research (practice): Check the data types of each column
print(df.dtypes)

first           object
last            object
job             object
phone           object
email           object
client_id        int64
order_id         int64
order_date      object
order_week       int64
order_year       int64
item_id         object
category        object
subcategory     object
unit_price     float64
unit_cost      float64
unit_weight    float64
qty              int64
line_number      int64
dtype: object

In [8]:
# Additional research (practice): Check for missing values 
print(df.isnull().sum())

first          0
last           0
job            0
phone          0
email          0
client_id      0
order_id       0
order_date     0
order_week     0
order_year     0
item_id        0
category       0
subcategory    0
unit_price     0
unit_cost      0
unit_weight    0
qty            0
line_number    0
dtype: int64

In [9]:
# Additional research (practice): Get a sample of the data
print(df.sample(5))

         first     last                         job                 phone  \
33104   Daniel   Bowman               Archaeologist  001-716-757-9724x862
10038   Jeremy  Bennett       Theatre stage manager   (262)560-7975x55146
38652  William      Cox         Scientist, forensic      495-415-7584x854
53653    Wendy    Doyle      Financial risk analyst     (446)281-8395x771
41657  Michael     Reid  Research scientist (maths)          954-391-5797

                              email  client_id  order_id  order_date  \
33104     danielbowman@thompson.com      72892   3396996  2023-01-06
10038  our.bennett.9864@miller.info      84699   8546434  2023-04-13
38652    william_cox_9575@cowan.com      89557   5059604  2023-02-20
53653       doylesite8038@wiley.net      10520   6080814  2023-04-01
41657           reidtype@moreno.com      44699   1467905  2023-03-04

       order_week  order_year         item_id     category        subcategory  \
33104           1        2023  UDX16497-75-6A     software         accounting
10038          15        2023  DZD84552-63-4M    furniture              desks
38652           8        2023  DEA49899-87-6A    furniture             stands
53653          13        2023  UDC75479-26-5A     software         accounting
41657           9        2023  BXX79083-86-6E  consumables  bathroom supplies

       unit_price  unit_cost  unit_weight   qty  line_number
33104        2.67       2.35         1.91   123            3
10038       48.13      39.28         0.25  1211            3
38652        1.68       1.13         1.13   214            9
53653      277.01     174.45         4.51   662            0
41657       10.36       8.57         9.64    70            0

In [20]:
# What three item categories had the most entries?
category_counts = df['category'].value_counts()
top_categories = category_counts.head(3)
print("Top 3 Categories:\n", top_categories)

Top 3 Categories:
 category
consumables    23538
furniture      11915
software        8400
Name: count, dtype: int64

In [21]:
# For the category with the most entries, which subcategory had the most entries?
most_common_category = category_counts.idxmax()
subcategory_counts = df[df['category'] == most_common_category]['subcategory'].value_counts()
top_subcategory = subcategory_counts.idxmax()
print(f"Most common subcategory in {most_common_category}:\n", top_subcategory)

Most common subcategory in consumables:
 bathroom supplies

In [22]:
# Which five clients had the most entries in the data?
client_counts = df['client_id'].value_counts()
top_clients = client_counts.head(5)
print("Top 5 Clients:\n", top_clients)

Top 5 Clients:
 client_id
33615    220
66037    211
46820    209
38378    207
24741    207
Name: count, dtype: int64

In [26]:
# Store the client ids of those top 5 clients in a list.
top_client_ids = top_clients.index.tolist()
print("Top 5 Client IDs:\n", top_client_ids)

Top 5 Client IDs:
 [33615, 66037, 46820, 38378, 24741]

In [28]:
# How many total units (the qty column) did the client with the most entries order order?
top_client_id = top_clients.index[0]  # ID of the client with the most entries
total_units = df[df['client_id'] == top_client_id]['qty'].sum()
print(f"Total units ordered by client {top_client_id}:\n", total_units)

Total units ordered by client 33615:
 64313

## Part 2: Transform the Data
Do we know that this client spent the more money than client 66037? If not, how would we find out? Transform the data using the steps below to prepare it for analysis.

In [6]:
# Create a column that calculates the subtotal for each line using the unit_price and the qty
df['line_subtotal'] = df['unit_price'] * df['qty']

In [8]:
# Print the columns to check it 'line_subtotal' is created
print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number', 'line_subtotal', 'total_weight', 'shipping_price'],
      dtype='object')

In [89]:
# Create a column for total weight
df['total_weight'] = df['unit_weight'] * df['qty']

In [90]:
# Create a column for shipping price.
# Assume a shipping price of $7 per pound for orders over 50 pounds and $10 per pound for items 50 pounds or under.
df['shipping_price'] = df['total_weight'].apply(lambda x: 7 * x if x > 50 else 10 * x)

In [91]:
# Print the columns to check if 'shipping_price' is created
print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number', 'line_subtotal', 'total_weight', 'shipping_price',
       'total_price', 'line_cost', 'line_price', 'line_profit',
       'total_spending'],
      dtype='object')

In [92]:
# Create a column for the total price using the subtotal and the shipping price along with a sales tax of 9.25%
df['total_price'] = round((df['line_subtotal'] + df['shipping_price']) * 1.0925, 2)

In [93]:
# Print the columns to check if 'total_price' is created
print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number', 'line_subtotal', 'total_weight', 'shipping_price',
       'total_price', 'line_cost', 'line_price', 'line_profit',
       'total_spending'],
      dtype='object')

In [94]:
# Create a column for the cost of each line using unit cost, qty, and
# shipping price (assume the shipping cost is exactly what is charged to the client).
df['line_cost'] = (df['unit_cost'] * df['qty']) + df['shipping_price']

In [95]:
# Print the columns to check if 'line_cost' is created
print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number', 'line_subtotal', 'total_weight', 'shipping_price',
       'total_price', 'line_cost', 'line_price', 'line_profit',
       'total_spending'],
      dtype='object')

In [96]:
# Additional research: Check the data types of each column after transformation
print(df.dtypes)

first              object
last               object
job                object
phone              object
email              object
client_id           int64
order_id            int64
order_date         object
order_week          int64
order_year          int64
item_id            object
category           object
subcategory        object
unit_price        float64
unit_cost         float64
unit_weight       float64
qty                 int64
line_number         int64
line_subtotal     float64
total_weight      float64
shipping_price    float64
total_price       float64
line_cost         float64
line_price        float64
line_profit       float64
total_spending    float64
dtype: object

In [97]:
# Additional research: Check for missing values after transformation
print(df.isnull().sum())

first             0
last              0
job               0
phone             0
email             0
client_id         0
order_id          0
order_date        0
order_week        0
order_year        0
item_id           0
category          0
subcategory       0
unit_price        0
unit_cost         0
unit_weight       0
qty               0
line_number       0
line_subtotal     0
total_weight      0
shipping_price    0
total_price       0
line_cost         0
line_price        0
line_profit       0
total_spending    0
dtype: int64

In [98]:
# Additional research: Get a sample of the data after transformation
print(df.sample(5))

          first     last                            job              phone  \
7714     Pamela  Buckley                     Printmaker         2552289876
16757  Jennifer    Olson  Telecommunications researcher  241.311.2077x6960
23252      Lori   Turner         Therapist, nutritional  (578)816-9892x272
32681     Julia    Mason          Multimedia specialist   001-255-966-2146
35889       Ian      Fox     Lecturer, higher education      (917)710-6686

                              email  client_id  order_id  order_date  \
7714    pamelabuckley9269@tapia.biz      52037   8319620  2023-01-26
16757   olsonj5619@watson-green.com      62135   5292192  2023-01-23
23252          turnerl@marshall.com      80857   1397163  2023-01-26
32681  masonj@lawrence-martinez.com      83686   3387829  2023-01-25
35889          i.fox.6520@terry.biz      58400   4659251  2023-03-08

       order_week  order_year  ...  qty line_number line_subtotal  \
7714            4        2023  ...  131           8      15820.87
16757           4        2023  ...   85           1       1170.45
23252           4        2023  ...   83           1      40335.51
32681           4        2023  ...   48           7        799.20
35889          10        2023  ...  103           9       3589.55

       total_weight  shipping_price  total_price  line_cost    line_price  \
7714         516.14         3612.98     21231.48   11534.55  21231.481125
16757        583.10         4081.70      5737.97    4900.25   5737.973875
23252        243.19         1702.33     45926.34   26120.10  45926.340200
32681         86.40          604.80      1533.87    1317.12   1533.870000
35889        196.73         1377.11      5426.08    3969.62   5426.076050

        line_profit  total_spending
7714    9696.931125     12753615.70
16757    837.723875      3795429.92
23252  19806.240200      4669922.89
32681    216.750000      3494138.58
35889   1456.456050      3270579.05

[5 rows x 26 columns]

In [31]:
# Create a column for the profit of each line using line cost and line price
df['line_profit'] = df['total_price'] - df['line_cost']

In [28]:
# Print the columns to checl if 'line_profit' is created
print(df.columns)

Index(['first', 'last', 'job', 'phone', 'email', 'client_id', 'order_id',
       'order_date', 'order_week', 'order_year', 'item_id', 'category',
       'subcategory', 'unit_price', 'unit_cost', 'unit_weight', 'qty',
       'line_number', 'line_subtotal', 'total_weight', 'shipping_price',
       'total_price', 'line_cost', 'line_price', 'line_profit'],
      dtype='object')

In [29]:
# Inspect a few rows of the dataframe to verify the new calculations
print(df.head())

       first      last                    job               phone  \
0     Donald   Harding           Immunologist  793-904-7725x39308
1    Tiffany     Myers        Music therapist    201.442.4543x942
2    Shannon    Watson           Immunologist   687.737.9424x8503
3     Nathan     Baker  Accounting technician    827-788-8123x012
4  Christina  Schwartz           Chiropractor        265-829-3643

                                 email  client_id  order_id  order_date  \
0     harding.donald.7185@sullivan.com      58515   8953482  2023-04-28
1    myers.t.6537@ferguson-johnson.net      37609   8069089  2023-05-19
2                swatson8146@payne.net      57113   1902144  2023-01-29
3               bakernathan@benson.com      46554   9031802  2023-04-25
4  christinaschwartz9252@mcconnell.com      92089   1322274  2023-05-28

   order_week  order_year  ... unit_weight  qty line_number  line_subtotal  \
0          17        2023  ...        7.50  105           1      115164.00
1          20        2023  ...        1.49   21           0         523.95
2           4        2023  ...        1.68   39           6         527.28
3          17        2023  ...        1.23   29           3        1056.18
4          21        2023  ...       46.43   20           1        3902.00

   total_weight  shipping_price    total_price  line_cost     line_price  \
0        787.50         5512.50  131839.076250   85597.05  131839.076250
1         31.29          312.90     914.258625     629.79     914.258625
2         65.52          458.64    1077.117600     765.18    1077.117600
3         35.67          356.70    1543.571400    1077.35    1543.571400
4        928.60         6500.20   11364.403500    8663.60   11364.403500

    line_profit
0  46242.026250
1    284.468625
2    311.937600
3    466.221400
4   2700.803500

[5 rows x 25 columns]

In [68]:
# Additional analysis:
# Calculate total spending for each client
df['total_spending'] = df.groupby('client_id')['total_price'].transform('sum')

In [73]:
# Additional analysis:
# Identify the top clients based on total spending
top_clients = df.groupby('client_id')['total_spending'].max().nlargest(2).index

In [80]:
# Additional analysis:
# Extract top client IDs
top_client_ids = top_clients.tolist()

In [76]:
# Additional analysis:
# Check total spending for each of the top clients
top_client_spending = df[df['client_id'].isin(top_client_ids)][['client_id', 'total_spending']].drop_duplicates()

print("Total spending of top clients:")
print(top_client_spending)

Total spending of top clients:
     client_id  total_spending
332      78965    6.559237e+08
572      85931    2.374170e+08

In [81]:
# Additional analysis:
# Compare spending between specific clients
client_1 = top_client_ids[0]  # ID of the first top client
client_2 = top_client_ids[1]  # ID of the second top client

spending_client_1 = top_client_spending[top_client_spending['client_id'] == client_1]['total_spending'].values[0]
spending_client_2 = top_client_spending[top_client_spending['client_id'] == client_2]['total_spending'].values[0]

print(f"Total spending by client {client_1}: ${spending_client_1}")
print(f"Total spending by client {client_2}: ${spending_client_2}")

if spending_client_1 > spending_client_2:
    print(f"Client {client_1} spent more than client {client_2}.")
elif spending_client_1 < spending_client_2:
    print(f"Client {client_2} spent more than client {client_1}.")
else:
    print(f"Client {client_1} and client {client_2} spent the same amount.")

Total spending by client 78965: $655923670.05
Total spending by client 85931: $237417001.41
Client 78965 spent more than client 85931.

## Part 3: Confirm your work
You have email receipts showing that the total prices for 3 orders. Confirm that your calculations match the receipts. Remember, each order has multiple lines.

Order ID 2742071 had a total price of \$152,811.89

Order ID 2173913 had a total price of \$162,388.71

Order ID 6128929 had a total price of \$923,441.25

In [32]:
# Check your work using the totals above
# Calculate the total price for each specified order ID
order_2742071_total = round(df[df['order_id'] == 2742071]['total_price'].sum(), 2)
order_2173913_total = round(df[df['order_id'] == 2173913]['total_price'].sum(), 2)
order_6128929_total = round(df[df['order_id'] == 6128929]['total_price'].sum(), 2)

In [36]:
# Print the calculated totals to check against the receipts
print(f"Order ID 2742071 total: ${order_2742071_total:.2f}")
print(f"Order ID 2173913 total: ${order_2173913_total:.2f}")
print(f"Order ID 6128929 total: ${order_6128929_total:.2f}")

Order ID 2742071 total: $152811.90
Order ID 2173913 total: $162388.72
Order ID 6128929 total: $923441.24

## Part 4: Summarize and Analyze
Use the new columns with confirmed values to find the following information.

In [37]:
# How much did each of the top 5 clients by quantity spend? Check your work from Part 1 for client ids.
# Define the top 5 clinet IDs
top_clients = [33615, 66037, 46820, 38378, 24741]

In [52]:
# Calculate the total spending for each client
total_spending = df[df['client_id'].isin(top_clients)].groupby('client_id')['total_price'].sum().reset_index()

In [53]:
# Rename columns for clarity
total_spending.columns = ['Client ID', 'Total Spending']

In [54]:
# Print the total spending for each client
print(total_spending)

   Client ID  Total Spending
0      24741     82268892.02
1      33615      8377308.52
2      38378     12906550.87
3      46820      9743794.36
4      66037     10259514.79

In [58]:
# Create a summary DataFrame showing the totals for the for the top 5 clients with the following information:
# total units purchased, total shipping price, total revenue, and total profit. 
summary_df = pd.DataFrame({
    'client_id': [33615, 66037, 46820, 38378, 24741],
    'qty': [64313, 43018, 75768, 73667, 239862],
    'shipping_price': [1828984.89, 1395151.85, 1601448.84, 3429455.40, 5126448.37],
    'line_price': [8377308.52, 10259514.79, 9743794.36, 12906550.87, 82268892.02],
    'line_cost': [6175313.91, 7004482.98, 7007191.64, 9634720.98, 45688899.71],
    'line_profit': [2201994.61, 3255031.81, 2736602.72, 3271829.89, 36579992.31]
})

In [59]:
# Format the data and rename the columns to names suitable for presentation.
summary_df.columns = ['Client ID', 'Units', 'Shipping Price', 'Total Revenue', 'Total Cost', 'Total Profit']

In [60]:
# Define the money columns. 
money_columns = ['Shipping Price', 'Total Revenue', 'Total Cost', 'Total Profit']

In [61]:
# Define a function that converts a dollar amount to millions.
def currency_format_millions(value):
    return value / 1_000_000

In [63]:
# Apply the currency_format_millions function to only the money columns
summary_df[money_columns] = summary_df[money_columns].apply(currency_format_millions)

In [65]:
# Rename the columns to reflect the change in the money format. 
summary_df.columns = ['Client ID', 'Units', 'Shipping (millions)', 'Total Revenue (millions)', 'Total Cost (millions)', 'Total Profit (millions)']

In [66]:
# Sort the updated data by "Total Profit (millions)" form highest to lowest and assign the sort to a new DatFrame.
summary_df_sorted = summary_df.sort_values(by='Total Profit (millions)', ascending=False).reset_index(drop=True)

In [67]:
# Print the sorted DataFrame
print(summary_df_sorted)

   Client ID   Units  Shipping (millions)  Total Revenue (millions)  \
0      24741  239862             5.126448                 82.268892
1      38378   73667             3.429455                 12.906551
2      66037   43018             1.395152                 10.259515
3      46820   75768             1.601449                  9.743794
4      33615   64313             1.828985                  8.377309

   Total Cost (millions)  Total Profit (millions)
0              45.688900                36.579992
1               9.634721                 3.271830
2               7.004483                 3.255032
3               7.007192                 2.736603
4               6.175314                 2.201995